<strong>Edit Review for <%= @apartment.address %></strong><br>
<br>
<form method="post" action="/reviews/<%= @review.id %>" id="reviewform">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  Title: <input type="text" name="title" value="<%= @review.title %>"/><br>
  Content: <input type="text-box" name="content" form=reviewform value="<%= @review.content %>"/><br>
  Rating (1-10): <input type="number" name="rating" min="1" max="10" value="<%= @review.rating %>"/><br><br>
  <input type="submit" value="Edit Review" />
</form>