Welcome, <%= current_user.first_name %>!

<p>Here are your reviews:</p>

<% @reviews.each do |review| %>
  <% if review.user_id == session[:id] %>
    <div>
      <h3><%= Apartment.find_by(id: review.apartment_id).address %></h3>
      <strong><%= review.title %></strong> <%= review.rating %>/10
      <br><%= review.content %>
      <br><a href="/reviews/#{review.id}/edit">Edit</a>
    </div>
  <% end %>
<% end %>

<!-- <p><a href="/reviews/new">Create Review</a></p> -->